<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-baidu-geolocation" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>BaiduGeolocation</name><js-module name="BaiduGeolocation" src="www/BaiduGeolocation.js"><clobbers target="cordova.plugins.BaiduGeolocation" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="BaiduGeolocation"><param name="android-package" value="cordova-baidu-geolocation.BaiduGeolocation" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/BaiduGeolocation.java" target-dir="src/cordova-baidu-geolocation/BaiduGeolocation" /></platform></plugin>